# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/**
docs/html/**
docs/latex/**
docs/xml/**
lib/libnetlink/build/**
lib/cmocka-1.1.5/build/**
lib/libmnl-1.0.4/doxygen.cfg
lib/libmnl-1.0.4/libmnl.pc
lib/libmnl-1.0.4/libtool
lib/libmnl-1.0.4/stamp-h1
lib/libmnl-1.0.4/config.status
lib/libmnl-1.0.4/config.log
lib/libmnl-1.0.4/config.h
lib/libmnl-1.0.4/Makefile
lib/libmnl-1.0.4/.deps
lib/libmnl-1.0.4/**/Makefile
lib/libmnl-1.0.4/**/.deps
lib/libmnl-1.0.4/build/**
lib/libmnl-1.0.4/src/*.o
lib/libmnl-1.0.4/src/.deps/**
lib/libmnl-1.0.4/src/.libs/**
lib/libmnl-1.0.4/examples/.libs/**
lib/libmnl-1.0.4/autom4te.cache/**