[Unit]
Description=Reset hostname
Before=network.target

[Service]

Type=oneshot

# gets disabled by itself
ExecStart=/usr/bin/env bash /usr/local/EDGESec/deploy/reset-hostname.bash

[Install]
WantedBy=network.target

