Source: edgesec
Section: unknown
Priority: optional
Maintainer: Alois Klink <alois@nquiringminds.com>
Build-Depends: git, ca-certificates, cmake (>=3.15.0), debhelper-compat (= 12), doxygen, graphviz, texinfo, libnl-genl-3-dev, libnl-route-3-dev, automake, autoconf, libtool-bin, pkg-config, libjson-c-dev, libgnutls28-dev, libssl-dev, flex, bison, protobuf-compiler-grpc:native, libprotobuf-dev, libgrpc++-dev, libcmocka-dev (>=1.1.5)
Standards-Version: 4.5.0
Homepage: https://github.com/nqminds/EDGESec

Package: edgesec
Architecture: any
Multi-Arch: foreign
Depends: libedgesec (= ${binary:Version}),
    edgesec-common (= ${binary:Version}),
    edgesec-capsrv (= ${binary:Version}),
    edgesec-revclient (= ${binary:Version}),
    edgesec-restsrv (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends},
    dnsmasq, jq
Description: NquiringMinds EDGESec Network Security Router.
 This is NquiringMind's EDGESec Network Analyser.
 It usually creates a secure and paritioned Wifi access point, using vlans,
 and can analyse network traffic.

Package: edgesec-common
Architecture: all
Description: NquiringMinds EDGESec common files.
 This includes config files and certificates
 that may be shared with all binaries.

Package: edgesec-restsrv
Architecture: any
Multi-Arch: foreign
Depends: libedgesec (= ${binary:Version}),
    edgesec-common (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends}
Description: NquiringMinds EDGESEC RESTful server.
  Provides a HTTP/HTTPS RESTful Server that can
  be used to communicate with the `edgesec` process,
  as it only provides an Unix Domain Socket.

Package: edgesec-capsrv
Architecture: any
Multi-Arch: foreign
Depends: libedgesec (= ${binary:Version}),
    edgesec-common (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends}
Description: NquiringMinds EDGESEC capture server.

Package: edgesec-revclient
Architecture: any
Multi-Arch: foreign
Depends: libedgesec (= ${binary:Version}),
    edgesec-common (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends}
Description: NquiringMinds EDGESEC revclient.

Package: libedgesec
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Shared library files required for edgesec.
