Source: edgesec-0.9.9-alpha1
Section: unknown
Priority: optional
Maintainer: Alois Klink <alois@nquiringminds.com>
Build-Depends: git, cmake (>=3.11.0), debhelper (>=9), doxygen, graphviz, texinfo, libnl-genl-3-dev, libnl-route-3-dev, automake, autoconf, libtool-bin, pkg-config, libjson-c-dev, libssl-dev
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>

Package: edgesec-0.9.9-alpha1
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, libnl-genl-3-dev, libnl-route-3-dev libjson-c-dev, libssl-dev, dnsmasq, jq
Description: NquiringMinds EDGESec Network Security Router.
 This is NquiringMind's EDGESec Network Analyser.
 It usually creates a secure and paritioned Wifi access point, using vlans,
 and can analyse network traffic.
