[Unit]
Description=EDGESec capture server.
After=edgesec.service
BindsTo=edgesec.service

[Service]
Type=simple
Restart=always
RestartSec=60
# Using /etc/edgesec/config.ini is currently not yet supported
# ExecStart=/usr/bin/capsrv -c /etc/edgesec/config.ini -ddd
# -b 20971520 KiB = 20 GiB

# Runs in cleaning mode only
ExecStart=/usr/bin/capsrv -p /var/lib/edgesec/db -b 20971520 -dddddd

[Install]
WantedBy=edgesec.target
