[Unit]
Description=EDGESec main app.
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=60
ExecStart=/usr/bin/edgesec -c /etc/edgesec/config.ini -ddd

[Install]
WantedBy=edgesec.target
