#!/usr/bin/make -f
# We use debhelper to compile everything

# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	     -DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)" \
		 -DCMAKE_BUILD_TYPE=Release \
		 -DBUILD_MNL_LIB=OFF\
		 -DBUILD_NETLINK_LIB=ON\
		 -DUSE_NETLINK_SERVICE=ON\
		 -DUSE_UCI_SERVICE=OFF\
		 -DUSE_HEADER_MIDDLEWARE=ON\
		 -DBUILD_HOSTAPD=ON

# make sure to always install into `debian/tmp` and use
# *.install files, even if we only have one package
override_dh_auto_install:
	dh_auto_install --destdir debian/tmp

# make sure to tell dh_shlibdeps about our private shared libs
override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/$(DEB_HOST_GNU_TYPE)/edgesec

# skip broken tests on pbuilder
# seems to be something wrong with how pbuilder creates it's chroot
override_dh_auto_test:
	ctest --exclude-regex 'test_run_capture' --exclude-regex 'test_sqlite_header'
