#!/usr/bin/make -f
# We use debhelper to compile everything

# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

# Add --jobs=x/ parallel flag to MAKEFLAGS
# This is used both in the build step,
# but we additionally pass it to cmake configure using
# -DLIB_MAKEFLAGS, so that dependent libs (e.g. OpenSSL)
# are compiled with parallel jobs,
# as cmake configure ignores the MAKEFLAGS variable
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += --jobs=$(NUMJOBS)
endif

override_dh_auto_configure:
	dh_auto_configure -- \
	     -DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)" \
		 -DCMAKE_BUILD_TYPE=Release \
		 -DCROSS_COMPILE_EDGESEC=OFF \
		 -DBUILD_MNL_LIB=ON\
		 -DBUILD_NETLINK_LIB=ON\
		 -DBUILD_NL_LIB=ON\
		 -DUSE_NETLINK_SERVICE=ON\
		 -DUSE_UCI_SERVICE=OFF\
		 -DUSE_GRPC_LIB=ON\
		 -DBUILD_REVERSE_SERVICE=ON\
		 -DUSE_PTHREAD_LIB=ON\
		 -DUSE_M_LIB=ON\
		 -DBUILD_HOSTAPD=ON\
		 -DBUILD_REST_SERVER=ON\
		 -DBUILD_MICROHTTPD_LIB=ON\
		 "-DLIB_MAKEFLAGS=--jobs=$(NUMJOBS)"

# make sure to tell dh_shlibdeps about our private shared libs
override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/$(DEB_HOST_GNU_TYPE)/edgesec
